
p1{
    color: blue;
    
}
h1{
    color: magenta;
}
    
body {
    font-family: "Comic Sans MS", cursive;
    background-color: #FFB6C1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
